Date header quoted under CombinedHttpHeaders

Feels similar but probably not exactly the same as #6473. The theme being overly broad treatment to all header pairs as the same.

### Expected behavior

Provide a string literal value (with a comma, per spec) to setting a `Date` header, get that value back after serialization.

### Actual behavior

Date comes back quoted.

### Steps to reproduce

- Construct `DefaultFullHttpResponse` with `singleFieldHeaders` set to `true`
- Add `Date` header with spec compliant value (contains comma)
- Print response

### Minimal yet complete reproducer code (or URL to code)

```scala
import io.netty.handler.codec.http._
import io.netty.handler.codec.http.DefaultFullHttpResponse

object NettyMinimalParsingProblem extends App {
  printResponse {
    new DefaultFullHttpResponse(HttpVersion.HTTP_1_1, HttpResponseStatus.OK, true, false)
  }

  printResponse {
    new DefaultFullHttpResponse(HttpVersion.HTTP_1_1, HttpResponseStatus.OK, true, true)
  }

  def printResponse(res: DefaultFullHttpResponse): Unit = {
    res
      .headers()
      .add("Date", "Tue, 17 Sep 2019 17:52:01 GMT")

    println(res)
  }
}
```

### Netty version

`4.1.41.Final`

### JVM version (e.g. `java -version`)

### OS version (e.g. `uname -a`)


@ddossot are you maybe interested in fixing this ?

Also alternative @mcanlas are you interested in trying to provide a PR ?

At first, I'm going to fix this. But after some investigation I found this might be designed so.

With the help of Netty Java Doc, I found some related messages in RFC 7230.  
> Netty Java Doc: singleFieldHeaders - true to check and enforce that headers with the same name are appended to the same entry and comma separated. See RFC 7230, 3.2.2. false to allow multiple header entries with the same name to coexist.

In [RFC 7230, 3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2), it says:
> A sender MUST NOT generate multiple header fields with the same field name in a message unless either the entire field value for that header field is defined as a comma-separated list [i.e., #(values)] or the header field is a well-known exception (as noted below).

Then how could we deal with those values with comma? I think I found the answer at [RFC 7230, 3.2.6](https://tools.ietf.org/html/rfc7230#section-3.2.6), it says:
> A string of text is parsed as a single value if it is quoted using double-quote marks.

This means we could quotes those values with comma.

So what if no comma in value? Then I removed the comma in example, and I got the following output without quotes:
```java
HTTP/1.1 200 OK
Date: 17 Sep 2019 17:52:01 GMT
```

So I believe the quotes value is designed so, and it only quotes values with comma.

Hope this helps. @mcanlas @normanmaurer 

This RFC says the date value canonically has a comma in it.

https://tools.ietf.org/html/rfc7231#section-7.1.1.1

I accidentally looked at CombinedHttpHeaders, and it just looks busted. No, you can't go around quoting strings with commas, and no, you can't go around assuming things are CSV. It is so busted I worry it can't be fixed in-place and should be deprecated instead.

Starting "from the top," [RFC 7230 §3.2.2](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.2) says:

>    A sender MUST NOT generate multiple header fields with the same field
   name in a message unless either the entire field value for that
   header field is defined as a comma-separated list [i.e., #(values)]
   or the header field is a well-known exception (as noted below).
>
>   A recipient MAY combine multiple header fields with the same field
   name into one "field-name: field-value" pair, without changing the
   semantics of the message, by appending each subsequent field value to
   the combined field value in order, separated by a comma.

And [RFC 7230 §7](https://datatracker.ietf.org/doc/html/rfc7230#section-7) describing the # syntax:

>   In other words, a sender MUST generate
   lists that satisfy the following syntax:
>
>     1#element => element *( OWS "," OWS element )
>
>   and:
>
>     #element => [ 1#element ]

[RFC 7230 §3.2](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2) places no restrictions on commas in values:

>     header-field   = field-name ":" OWS field-value OWS
>
>     field-name     = token
>     field-value    = *( field-content / obs-fold )
>     field-content  = field-vchar [ 1*( SP / HTAB ) field-vchar ]
>     field-vchar    = VCHAR / obs-text

[RFC 5234 §B.1](https://datatracker.ietf.org/doc/html/rfc5234#appendix-B.1):

>         VCHAR          =  %x21-7E
>                                ; visible (printing) characters

#(values) is not "CSV" in any precise sense. It is just "comma separated values" in the loose sense "we put commas between things". It provides _absolutely no_ power to actually parse these strings. Maybe commas in values are disallowed (`Connection`), maybe it uses quoting (`Transfer-Encoding`), or maybe it uses backslashes or anything else someone wants to cook up because there's no limit to use of comma in `field-value`.

And §3.2.2 _absolutely does not_ say "if a value has commas, it is multi-valued." No, no. It is just "if there are multiple values for the same header, you can combine them together with comma." Nothing else. If you have a header with only a single value, you cannot say anything special about its format based on whether it has commas or quotes or anything else. You can only say something special about its format based on its name.

So you can't parse these things because you don't know how they escape commas, and you can't parse a single value because you don't it's actually #(values).

-------

>> I think I found the answer at RFC 7230, 3.2.6, it says:
>
> A string of text is parsed as a single value if it is quoted using double-quote marks.

No, no, no. Look at the context. That is from a section that begins with:

> Most HTTP header field values are defined using common syntax
   components (token, quoted-string, and comment) separated by
   whitespace or specific delimiting characters.

And a fuller quote is:

>    A string of text is parsed as a single value if it is quoted using
   double-quote marks.
>
>     quoted-string  = DQUOTE *( qdtext / quoted-pair ) DQUOTE

That section is just say, "hey, there's some common tools we need for many different headers, let's go and define those now." But for it to actually apply, it'd need to use `quoted-string`. For example:

>      transfer-parameter = token BWS "=" BWS ( token / quoted-string )

------

CombinedHttpHeaders extends HttpHeaders, yet it changes the semantics. It auto-quotes add() values, but when using DefaultHttpHeaders the caller would have already quoted it! Or maybe it _was_ multiple values! This means you _can't_ use CombinedHttpHeaders in the HTTP decoder as any header values combined with a comma as permitted by RFC 7230 §3.2.2 or simply a comma-separated list that was one value as defined at RFC 7230 §7 will then have quotes put around them!

I see no safe way to use HttpHeaders if they might be CombinedHttpHeaders or they might be DefaultHttpHeaders. I believe code interacting with headers 1) doesn't use commas or double-quotes, 2) is implicitly assuming one of the two classes, or 3) is broken. I suspect this hasn't been an in-your-face issue because `get()` reverses the operation of `add()`, causing "two wrongs make a right." But since things like `iterator()` will still expose the busted internal strings, its sort of a crapshoot whether things turn out poorly.

For date, specifically, as was already pointed out, RFC 7231 §7.1.1.1 defines the preferred format of date to be `IMF-fixdate`:

>   Preferred format:
>
>      IMF-fixdate  = day-name "," SP date1 SP time-of-day SP GMT
>     ; fixed length/zone/capitalization subset of the format
>     ; see Section 3.3 of [RFC5322]
>
>     day-name     = %x4D.6F.6E ; "Mon", case-sensitive
>                  / %x54.75.65 ; "Tue", case-sensitive
>                  / %x57.65.64 ; "Wed", case-sensitive
>                  / %x54.68.75 ; "Thu", case-sensitive
>                  / %x46.72.69 ; "Fri", case-sensitive
>                  / %x53.61.74 ; "Sat", case-sensitive
>                  / %x53.75.6E ; "Sun", case-sensitive

It does not have double quotes. The comma is bare. It isn't a multi-valued header, so this is fine. Yes, there are other date formats that don't use commas, but the spec explicitly permits and encourages a format that does use comma; we can't just say, "don't use that."

I'm trying out open source contributions in java full stack, is it possible to start contributing here ?
If not , can you suggest me some other repositories or issues that would help me a lot.
Thankyou 