maxConcurrentStreams is not enforced by servers

### Expected behavior

When an `Http2MultiplexCodec` is created with `maxConcurrentStreams` set to N, any subsequent calls to `http2MultiplexCodec.connection().numActiveStreams()` should report a value no greater than N; clients should receive `RST_STREAM` errors for any streams they attempt to create beyond that limit.

### Actual behavior

In my case (where N=2), I recently observed the following (using the `-m 5` flag to nghttp, which repeats the request five times using as much parallelism as possible):

```
[  0.012] Connected
The negotiated protocol: h2
[  0.210] send SETTINGS frame <length=12, flags=0x00, stream_id=0>
          (niv=2)
          [SETTINGS_MAX_CONCURRENT_STREAMS(0x03):100]
          [SETTINGS_INITIAL_WINDOW_SIZE(0x04):65535]
[  0.210] send HEADERS frame <length=112, flags=0x04, stream_id=1>
          [omitted]
[  0.210] send HEADERS frame <length=14, flags=0x04, stream_id=3>
          [omitted]
[  0.210] send HEADERS frame <length=14, flags=0x04, stream_id=5>
          [omitted]
[  0.210] send HEADERS frame <length=14, flags=0x04, stream_id=7>
          [omitted]
[  0.210] send HEADERS frame <length=14, flags=0x04, stream_id=9>
          [omitted]
[  0.210] send DATA frame <length=14, flags=0x01, stream_id=1>
          ; END_STREAM
[  0.210] send DATA frame <length=14, flags=0x01, stream_id=3>
          ; END_STREAM
[  0.210] send DATA frame <length=14, flags=0x01, stream_id=5>
          ; END_STREAM
[  0.210] send DATA frame <length=14, flags=0x01, stream_id=7>
          ; END_STREAM
[  0.210] send DATA frame <length=14, flags=0x01, stream_id=9>
          ; END_STREAM
[  0.210] recv SETTINGS frame <length=12, flags=0x00, stream_id=0>
          (niv=2)
          [SETTINGS_MAX_CONCURRENT_STREAMS(0x03):2]
          [SETTINGS_MAX_HEADER_LIST_SIZE(0x06):8192]
[  0.210] send SETTINGS frame <length=0, flags=0x01, stream_id=0>
          ; ACK
          (niv=0)
[  0.274] recv SETTINGS frame <length=0, flags=0x01, stream_id=0>
          ; ACK
          (niv=0)
          [subsequent response data omitted]
```

All five requests were served, and five active streams were reported on the h2 connection.

To be clear, this doesn't *always* happen; it depends on when nghttp sees the server's `SETTINGS` frame. In this case, I observe the following:

```
[  0.011] Connected
The negotiated protocol: h2
[  0.032] recv SETTINGS frame <length=12, flags=0x00, stream_id=0>
          (niv=2)
          [SETTINGS_MAX_CONCURRENT_STREAMS(0x03):2]
          [SETTINGS_MAX_HEADER_LIST_SIZE(0x06):8192]
[  0.032] send SETTINGS frame <length=12, flags=0x00, stream_id=0>
          (niv=2)
          [SETTINGS_MAX_CONCURRENT_STREAMS(0x03):100]
          [SETTINGS_INITIAL_WINDOW_SIZE(0x04):65535]
[  0.032] send SETTINGS frame <length=0, flags=0x01, stream_id=0>
          ; ACK
          (niv=0)
[  0.032] send HEADERS frame <length=112, flags=0x04, stream_id=1>
          [omitted]
[  0.032] send HEADERS frame <length=14, flags=0x04, stream_id=3>
          [omitted]
[  0.032] send DATA frame <length=14, flags=0x01, stream_id=1>
          ; END_STREAM
[  0.032] send DATA frame <length=14, flags=0x01, stream_id=3>
          ; END_STREAM
[  0.035] recv SETTINGS frame <length=0, flags=0x01, stream_id=0>
          ; ACK
          (niv=0)
          [omitted]
[  0.056] recv HEADERS frame <length=97, flags=0x24, stream_id=1>
          ; END_HEADERS | PRIORITY
          (padlen=0, dep_stream_id=0, weight=16, exclusive=0)
          ; First response header
          [omitted]
[  0.056] recv DATA frame <length=175, flags=0x00, stream_id=1>
          [omitted]
[  0.057] recv HEADERS frame <length=37, flags=0x24, stream_id=3>
          ; END_HEADERS | PRIORITY
          (padlen=0, dep_stream_id=0, weight=16, exclusive=0)
          ; First response header
          [omitted]
[  0.058] recv DATA frame <length=175, flags=0x00, stream_id=3>
[  0.232] recv GOAWAY frame <length=8, flags=0x00, stream_id=0>
          (last_stream_id=3, error_code=NO_ERROR(0x00), opaque_data(0)=[])
          [various payload DATA frames omitted]
[ERROR] request https://localhost:8443 failed: request HEADERS is not allowed
[ERROR] request https://localhost:8443 failed: request HEADERS is not allowed
[ERROR] request https://localhost:8443 failed: request HEADERS is not allowed
[  2.563] recv DATA frame <length=0, flags=0x01, stream_id=3>
          ; END_STREAM
[  2.563] send GOAWAY frame <length=8, flags=0x00, stream_id=0>
          (last_stream_id=0, error_code=NO_ERROR(0x00), opaque_data(0)=[])
Some requests were not processed. total=5, processed=2
```

Note that the `GOAWAY` frame at 0.232 is sent by the server intentionally as part of some testing I'm doing, involving graceful shutdown of connections.

### Steps to reproduce

Use nghttp (I used version 1.31.1) with the flags `-v --no-dep -m M`, where M is significantly greater than the server's `maxConcurrentStreams`, to send many requests to a Netty h2 server backed by `Http2MultiplexCodec`. Several invocations may be necessary to trigger the race condition, where nghttp fires off requests before seeing the server's `SETTINGS`.

### Minimal yet complete reproducer code (or URL to code)

Will supply on request.

### Netty version

4.1.24

### JVM version (e.g. `java -version`)

```
java version "10" 2018-03-20
Java(TM) SE Runtime Environment 18.3 (build 10+46)
Java HotSpot(TM) 64-Bit Server VM 18.3 (build 10+46, mixed mode)
```

### OS version (e.g. `uname -a`)

`Darwin f40f243a5fab.ant.amazon.com 16.7.0 Darwin Kernel Version 16.7.0: Tue Jan 30 11:27:06 PST 2018; root:xnu-3789.73.11~1/RELEASE_X86_64 x86_64`

Experimenting a bit more, I've noticed that this is somewhat easier to reproduce using h2c Prior Knowledge, although I can also reproduce it using h2 over TLS negotiated with ALPN. It also seems easier to reproduce when hitting a server running on localhost, rather than a remote server.

Also any thoughts @ejona86 ?

This is likely due to the setting changes not taking effect until the SETTINGS ACK comes back. That's a fairly sane behavior, however I do agree that at other times you want a different behavior or you want to limit the behavior.

For example, let's say at one point the server is overloaded and wants to shed load for a few seconds. It could (on some existing streams) set MAX_CONCURRENT_STREAMS=0 (the idea being it'd increase it again on "random" connections as RPCs completed). That's racy, and so waiting until the ACK arrives is best for reducing spurious failures. But if the server is _really_ overloaded, it could `RST_STREAM(REFUSED_STREAM)` some or all new streams created that exceed that limit.

Both behaviors are documented in RFC 7540§5.1.2:
> An endpoint that wishes to reduce the value of SETTINGS_MAX_CONCURRENT_STREAMS to a value that is below the current number of open streams can either close streams that exceed the new value or allow streams to complete.

While you could could view this as a special case of connection establishment, I think it's really a more general problem for any time the SETTINGS change.

And for completeness, I'll also reference the initial handshake discussion in §3.5:
> To avoid unnecessary latency, clients are permitted to send additional frames to the server immediately after sending the client connection preface, without waiting to receive the server connection preface. It is important to note, however, that the server connection preface SETTINGS frame might include parameters that necessarily alter how a client is expected to communicate with the server. Upon receiving the SETTINGS frame, the client is expected to honor any parameters established. In some configurations, it is possible for the server to transmit SETTINGS before the client sends additional frames, providing an opportunity to avoid this issue.

That said, I don't have a clear answer here. I do think the strict behavior this PR is requesting may be something that's best handled by the application, because there's a very wide gradient of behaviors that can be taken. But I'd also agree the current behavior may be surprising to someone.

I'll also mention that initial connection establishment can see very high spikes in the number of streams created. In gRPC (Go and C-core, but not Java), the client limits itself to 100 streams until it receives the initial SETTINGS frame. We would have been okay limiting that even lower. (Java used to have this behavior as well, but for a while now we've been waiting until the SETTINGS frame is received before sending RPCs for unrelated reasons.) 

@rschmitt what do you think about the suggestion of @ejona86 

@normanmaurer We can implement this at the application level, but the current behavior feels like a CVE waiting to happen. I think that it should at least be possible to opt in to strict limiting of stream concurrency (even if that isn't the default behavior) without having to implement it manually.