upgrade requests should support streaming

### Expected behavior

Upgrade requests and responses should continue propagating chunks immediately.

### Actual behavior

Http{Server,Client}UpgradeHandler both extend HttpObjectAggregator, and aren't streamed properly.

### Considerations

h2c is the only protocol I know which can have a request body in the upgrade request, so I'm going to target a solution to this.  The difficulty is that in the upgrade, we typically have an HTTP/1.1 request, and then respond with a 101, and then reply over HTTP2.  Right now, the way it works is that we have an HTTP/1.1 server handler, we process the entire request through that, then send it to the HttpServerUpgradeHandler.  The HttpServerUpgradeHandler aggregates the entire request, replies with a 101, removes the HTTP/1.1 server handler, and then translates the HTTP/1.1 request to an HTTP/2 request and adds the HTTP/2 server handler to the pipeline.

We should make a couple small modifications here.  Instead of aggregating the entire request, the HttpServerUpgradeHandler should continuously translate messages for the server, and should simply mark the connection as upgrading.  As soon as the server receives the headers, it should send the 101, and then it should immediately start sending HTTP/2 responses.  However, this is complicated slightly by the HTTP/1.1 server, which is still in the pipeline.  I *think* it should ignore messages it doesn't know how to handle, so it should be OK, but is worth checking.

After the request has finished streaming, we should remove the HTTP/1.1 server codec and the HttpServerUpgradeHandler from the pipeline.

I haven't looked at the HttpClientUpgradeHandler as closely, but it looks like it should be pretty similar.  Does this seems reasonable @normanmaurer @Scottmitch?

By the way, on the client-side the responses are actually OK, because it only aggregates the 101 response.  It should only be requests that we're worrying about.

@mosesn this sound reasonable to me... @carl-mastrangelo @ejona86 WDYT ?

How is it that _responses_ can't be streamed?

Streaming the upgrade _request_ is not great, because the client's request is sent in HTTP/1's format and thus there's no multiplexing. This is mentioned in [§3.2 of RFC 7540](http://httpwg.org/specs/rfc7540.html#rfc.section.3.2):
> Requests that contain a payload body MUST be sent in their entirety before the client can send HTTP/2 frames. This means that a large request can block the use of the connection until it is completely sent.
>
> If concurrency of an initial request with subsequent requests is important, an OPTIONS request can be used to perform the upgrade to HTTP/2, at the cost of an additional round trip.

I'd strongly encourage the client to issue a trash OPTIONS request to negotiate HTTP/2 if the initial request is large or time-delayed.

@ejona86 In our case, it's acceptable to occasionally never unblock the connection, since we can fail back to HTTP/1.1 and establish other new connections.

We're also investigating the OPTIONS approach, but many of our HTTP services don't support OPTIONS correctly, and we're concerned that it will drop their perceived success rates.

You're right, responses can be streamed.  The 101 response is aggregated, but that should never have a body, so that should be fine.

> since we can fail back to HTTP/1.1 and establish other new connections.

So I guess that means you make multiple connections initially until HTTP/2 is established, at which point you start multiplexing. And "HTTP/2 is established" means handshake complete and the request completed sending.

That seems like it would work, except with the possibility of any self-imposed client connection limits. And with increased number of connections.

> We're also investigating the OPTIONS approach, but many of our HTTP services don't support OPTIONS correctly, and we're concerned that it will drop their perceived success rates.

You can do a `GET /` or `HEAD /` as well. Or a `GET /does-no-exist`. Or a `GET /empty.txt`.

@ejona86 my suspicion is that most of our servers will return 4XX for anything that's not whitelisted.  Finagle doesn't provide special support for any of those.