"=" character in quoted form-data boundary string causes exception

When testing a service backed by netty from SoapUI the following exception was thrown because the boundary string generated by SoapUI contains an "=" (equals) character.  

`io.netty.handler.codec.http.multipart.HttpPostRequestDecoder$ErrorDataDecoderException: Needs a boundary value
    at io.netty.handler.codec.http.multipart.HttpPostRequestDecoder.checkMultipart(HttpPostRequestDecoder.java:273)
    at io.netty.handler.codec.http.multipart.HttpPostRequestDecoder.<init>(HttpPostRequestDecoder.java:210)
    at io.netty.handler.codec.http.multipart.HttpPostRequestDecoder.<init>(HttpPostRequestDecoder.java:169)`

According to RFC 1341 section 7.2.1 the "=" character is a valid character for the boundary string.  This can be easily reproduced by introducing an "=" character into the `boundary` string at the top of io.netty.handler.codec.http.multipart.HttpPostRequestDecoderTest.testBinaryStreamUpload()
