Case insensitive in http headers.

I learned from [#3630](https://github.com/netty/netty/issues/3630) that netty parsing http headers is case-insensitive by default.
But I expect the header name to be case sensitive, what should I do?
I am looking forward to your answer.

@Scottmitch 

Standard says headers are not case sensitive, so I would rather not rely on that.

https://tools.ietf.org/html/rfc2616#page-31

> 4.2 Message Headers
> 
>    HTTP header fields, which include general-header (section 4.5),
>    request-header (section 5.3), response-header (section 6.2), and
>    entity-header (section 7.1) fields, follow the same generic format as
>    that given in Section 3.1 of RFC 822 [9]. Each header field consists
>    of a name followed by a colon (":") and the field value. Field names
>    are case-insensitive.

Like @mhlbrz said.... 

I'm curious. The spec requires case-insensitive headers, so why is this issue not already closed as contrary to specification? The reason I as is that one point of analysis I use when considering an OSS project is how many open issues there are. Leaving issues like this open creates a falsely negative impression until one starts digging into the open issues.

> But I expect the header name to be case sensitive, what should I do?

Adjust your expectations to align with the HTTP specification? 😉

OK, thanks for your answers!