Allow users to plug in their own HTTP headers validator

We've been looking into ways to ensure a better support to HTTP header names as defined in [RFC7230, Section 3.2.6](https://tools.ietf.org/html/rfc7230#section-3.2.6) in Finagle. Today's header validation rules in Netty (as per `DefaultHttpHeaders.java`) don't prohibit ASCII delimiters (e.g., `[]`), and, unfortunately, there is no easy to to configure it otherwise.

One way to do that would be make a `DefaultHttpHeaders` constructor that also takes `NameValidator` public. This should allow users to opt-in for RFC7230 headers in their application code. HTTP codecs (think inbound HTTP messages), however, will still be using a default validator. Perhaps, allowing users to configure a `NameValidator` for HTTP codecs is a way to approach this.

I'm curious what do people think about this?

Sounds reasonable to me... @ejona86 @Scottmitch @carl-mastrangelo @trustin WDYT ?

I'm not familiar with the mentioned change in the characters permitted. Which BNF rule is now different? I see `token` excludes `[]`, but that was true in RFC 2616 as well.

Oh I think you're right, @ejona86. Token is defined identically in both RFCs:

RFC7230:

```
token          = 1*tchar

tchar          = "!" / "#" / "$" / "%" / "&" / "'" / "*"
                    / "+" / "-" / "." / "^" / "_" / "`" / "|" / "~"
                    / DIGIT / ALPHA
                    ; any VCHAR, except delimiters

Delimiters are chosen from the set of US-ASCII visual characters not allowed in
a token (DQUOTE and "(),/:;<=>?@[\]{}")
```

RFC2616:

```
token          = 1*<any CHAR except CTLs or separators>
separators     = "(" | ")" | "<" | ">" | "@"
                 | "," | ";" | ":" | "\" | <">
                 | "/" | "[" | "]" | "?" | "="
                 | "{" | "}" | SP | HT
```

The feature request about allowing users to override header validator still makes sense though as today, we're neither RFC2616 nor RFC7230 compliant:

```scala
scala> import io.netty.handler.codec.http._
import io.netty.handler.codec.http._

scala> val h = new DefaultHttpHeaders()
h: io.netty.handler.codec.http.DefaultHttpHeaders = DefaultHttpHeaders[]

scala> h.add("fo@o", "bar")
res0: io.netty.handler.codec.http.HttpHeaders = DefaultHttpHeaders[fo@o: bar]

scala> h.add("[foo]", "bar")
res1: io.netty.handler.codec.http.HttpHeaders = DefaultHttpHeaders[fo@o: bar, [foo]: bar]
```



@vkostyukov Why don't you just disable it and verify the headers in your application?

@vkostyukov, yeah, that looks like a bug. Seems we should fix Netty.

It [looks like](https://github.com/netty/netty/blob/942b993/codec-http/src/main/java/io/netty/handler/codec/http/DefaultHttpHeaders.java#L356) Netty is missing quite a bit of punctuation and virtually all the control characters (yet prohibits obs-text). I did check, the [HTTP parser](https://github.com/netty/netty/blob/401b196/codec-http/src/main/java/io/netty/handler/codec/http/HttpObjectDecoder.java#L728) also doesn't disallow the control characters.

That is quite a find, since those characters were prohibited even in [RFC 2068](https://tools.ietf.org/html/rfc2068#section-2.2):

```
          field-name     = token
...
          token          = 1*<any CHAR except CTLs or tspecials>

          tspecials      = "(" | ")" | "<" | ">" | "@"
                         | "," | ";" | ":" | "\" | <">
                         | "/" | "[" | "]" | "?" | "="
                         | "{" | "}" | SP | HT
```

@ejona86 With all my passion to fixing things that are broken, I'm somewhat skeptical we could pull this sizable behavior change in Netty, at least in 4.x. We're (Finagle) still getting beaten by Netty 3 allowing null-characters in header names today, after completing the Netty 3 -> Netty 4 migration nearly 2 years ago.

Perhaps a compromise, to allow users (us) to override the behavior via a custom header validator, would get us all into a slightly better state on Netty 4.x?

@normanmaurer, @Scottmitch, thoughts? It looks like Netty is permitting characters disallowed by all the HTTP specs, but it's been broken for a while...

Pinging this again in case it fell through the cracks: @ejona86, @normanmaurer, @Scottmitch 

+1 would love to see this happen

@vkostyukov @smlance @ejona86 I would be totally up for allowing to pass in a validator but I am not strong on it... About fixing the parser I am not sure... maybe we could do it by adding a new "strict" mode. I am a bit afraid if we just fix it it may break things for users in an unexpected way. 

I'm fine with adding a new strict mode. I don't want to add a validator if the primary use-case is to make Netty conform to the HTTP spec, as then that logic needs to be copied into each application.

I like the strict mode idea. As long as users would be able to opt-in for "more valid" headers (either by writing their own validator or switching over to strict) I'm happy.

@normanmaurer Maybe we can include this ticket into the Netty 5 roadmap? We'll have more room for maneuver there and, perhaps can actually support RFC7230 out of the box.

Done

I think this could be solved somewhat elegantly in Netty 4 by simply introducing overloaded constructors that replace `boolean validateHeaders` with an enum for RFC header validation compliance *or*  a custom `NameValidator`. The RFC enum could map to the relevant `NameValidators` that Netty maintains and be easy to discover for users.

@Bennett-Lynch sure if there is someone who wants to do the work ... **hint**