HttpPostRequestEncoder's finalizeRequest method overrides "multipart/mixed" to "multipart/form-data" 

Is there a way for me to create a multipart request of type "multipart/mixed" instead of multipart/form-data?

Eg:

`      HttpRequest request = new DefaultFullHttpRequest(HttpVersion.HTTP_1_1, HttpMethod.POST, "/");
        HttpPostRequestEncoder encoder = new HttpPostRequestEncoder(dataFactory, request, true);
        request.headers().add(HttpHeaderNames.CONTENT_TYPE, 
        HttpHeaderValues.MULTIPART_MIXED);
        encoder.addBodyHttpData(createJSONAttribute(request));
        encoder.addBodyHttpData(createFileUpload(request));
        request = encoder.finalizeRequest();
        sendMultipartRequest(request, encoder);`

"finalizeRequest" method overrides the mixed content type to form-data. 

If I'm to support other subtypes of multipart (Eg: multipart/related) do I have to write my own encoder and decoder? 

According to the MIME spec https://tools.ietf.org/html/rfc2046#page-17
 

> " All present and future subtypes of the "multipart" type must use an
>    identical syntax.  Subtypes may differ in their semantics, and may
>    impose additional restrictions on syntax, but must conform to the
>    required syntax for the "multipart" type.  This requirement ensures
>    that all conformant user agents will at least be able to recognize
>    and separate the parts of any multipart entity, even those of an
>    unrecognized subtype."

So can't we use the same encoding/decoding logic for other multipart subtypes as well? 

Thank you. 




@fredericBregier any idea ?

@normanmaurer If I'm correct, the initial codec only supports the following:

    /**
     * If multipart, there could be internal multiparts (mixed) to the global
     * multipart. Only one level is allowed.
     */
     private String multipartMixedBoundary;

**So something like multipart/form where within one level of multipart/mixed might be included.**

Saying into another way, the global header cannot be multipart/mixed, only multipart/form-data, but could contained sub-part as multipart/mixed (one sub-level only) and is supported.

_Note however that in RFC 7568 (which obsoletes: RFC 2388), it says :_

4.3.  Multiple Files for One Form Field

     The form data for a form field might include multiple files.

     [RFC2388] suggested that multiple files for a single form field be
     transmitted using a nested "multipart/mixed" part.  This usage is
     deprecated.

     To match widely deployed implementations, multiple files MUST be sent
     by supplying each file in a separate part but all with the same
     "name" parameter.

     Receiving applications intended for wide applicability (e.g.,
     multipart/form-data parsing libraries) SHOULD also support the older
     method of supplying multiple files.

Appendix A

     The handling of multiple files submitted as the result of a single
     form field (e.g., HTML's <input type=file multiple> element) results
     in each file having its own top-level part with the same name
     parameter; the method of using a nested "multipart/mixed" from
     [RFC2388] is no longer recommended for creators and is not required
     for receivers as there are no known implementations of senders.



@normanmaurer  Note that this is from Decoder. In Encoder, the multipart is designed as follow:

         * Logic:
         * if not Attribute:
         *      add Data to body list
         *      if (duringMixedMode)
         *          add endmixedmultipart delimiter
         *          currentFileUpload = null
         *          duringMixedMode = false;
         *      add multipart delimiter, multipart body header and Data to multipart list
         *      reset currentFileUpload, duringMixedMode
         * if FileUpload: take care of multiple file for one field => mixed mode
         *      if (duringMixedMode)
         *          if (currentFileUpload.name == data.name)
         *              add mixedmultipart delimiter, mixedmultipart body header and Data to multipart list
         *          else
         *              add endmixedmultipart delimiter, multipart body header and Data to multipart list
         *              currentFileUpload = data
         *              duringMixedMode = false;
         *      else
         *          if (currentFileUpload.name == data.name)
         *              change multipart body header of previous file into multipart list to
         *                      mixedmultipart start, mixedmultipart body header
         *              add mixedmultipart delimiter, mixedmultipart body header and Data to multipart list
         *              duringMixedMode = true
         *          else
         *              add multipart delimiter, multipart body header and Data to multipart list
         *              currentFileUpload = data
         *              duringMixedMode = false;

So when this is a FileUpload and currentFileUpload.name == data.name, then it enters automatically in mixed mode.

@fredericBregier 
This statement which you mention "the global header cannot be multipart/mixed, only multipart/form-data"

Is this a netty restriction? I cannot find any such restriction imposed by MIME specification. 

According to the spec all "multipart" types must use an identical syntax whether they be multipart/form-data, multipart/mixed, multipart/new-sub-type.  So the decoder will be able to recognize
and separate the parts of any multipart entity, even those of an unrecognized subtype. 

In netty decoder, this was hardcoded specifically for "MULTIPART_FORM_DATA". 

`protected static String[] getMultipartDataBoundary(String contentType) {
  String[] headerContentType = splitHeaderContentType(contentType);
  String multiPartHeader = HttpHeaderValues.MULTIPART_FORM_DATA.toString();` 
...
      
Is there a reason for this restriction? 
[I'm not actually talking about the nested parts, where you could have mixed within form-data. But about the top level message which only allows form-data. ]

Thanks for the response. 





RFC 1867 specifies that only multipart/form-data with within eventually multipart/mixed (see 3.3). See second example in chapter 6.

RFC 7578 (sorry for the wrong number previously) : 
I quote already the chapter 4.3 which says "[RFC2388] suggested that multiple files for a single form field be transmitted using a nested "multipart/mixed" part.  This usage is deprecated." and the Appendix A which says " The handling of multiple files submitted as the result of a single form field (e.g., HTML's <input type=file multiple> element) results in each file having its own top-level part with the same name
 parameter; the method of using a nested "multipart/mixed" from  [RFC2388] is no longer recommended for creators and is not required for receivers as there are no known implementations of senders."

So the body must be multipart/form-data but it allows then inner multipart/mixed parts, even if 7578 says it is deprecated.



Hello,

I found this issue and I'm interested to have a decoder for "multipart/related" HTTP bodies similar with this one:
https://cloud.google.com/storage/docs/json_api/v1/how-tos/multipart-upload

@fredericBregier the RFC 1867 specifies how form based upload works (i.e. use the multipart/form-data).

What @arukshani is hinting at is that all "multipart/*" content types work in a similar fashion and it would be nice to have a generic way to decode them - essentially split the body into parts based on the boundary. How to interpret the different parts will depend on the specific type used.

So the question is if the current functionality that has been made for multipart/form-data can be easily changed to fit this more general need or if it's better to implement from scratch a new decoder.



@xpromache  Why not ? If possible, well, it will allows to make more things ! ;-) 

You can propose something of course ;-)
Pay attention however to ascending compatibility and to preserve the overall contract in the codec. But I'm quite sure, doing some rework on internal classes could help to have at most 2 codec sharing a lot, at most 1 only...