Use CRC32-C in Snappy Framing Format Implementation

I have recently been researching Java Snappy implementations and came across a curiosity in netty's implementation.  Specifically, it looks like the code in:

https://github.com/netty/netty/blob/master/codec/src/main/java/io/netty/handler/codec/compression/Snappy.java

is using CRC32 rather than CRC32-C for its masked checksum computations.

The "Snappy framing format description" at:

https://code.google.com/p/snappy/source/browse/trunk/framing_format.txt

metions in section 3, "Checksum format", that:

"The checksums are always masked CRC-32Cs.  A description of CRC-32C can be found in RFC 3720, section 12.1, with examples in section B.4."

Other Java implementations I've come across take pains to use CRC-32C, typically defining the code themselves as in:

https://github.com/dain/snappy/blob/master/src/main/java/org/iq80/snappy/Crc32C.java

I didn't immediately find anything in the git history or the issues tracker that suggested this was an intentional choice, or if it might just be an oversight.  Please note it's not impacting me in any way, it's just something I came across and wanted to bring up in case it actually was an oversight.

Thanks,
Matt
