CombinedHttpHeaders indiscriminately combines all headers

### Expected behavior

`CombinedHttpHeaders` combines all headers per name, even if they shouldn't be combined, like for example the `Set-Cookie` header (per [RFC-7230, section 3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2)). In fact, there's only a limited set of headers that can be combined (see this [SO thread](http://stackoverflow.com/a/29550711/387927)).

### Actual behavior

`CombinedHttpHeaders` should support a configurable set of header names that can safely be combined (or a set of headers that should never be combined, if we want to combine be default). A default set should be available to in order to provide a sensible behaviour out-of-the-box.

### Netty version

`4.1.x`


thanks for reporting @ddossot !

@ddossot <3