Change `DEFAULT_HEADER_SENSITIVITY_DETECTOR` for HPACK

Netty exposes `SensitivityDetector` [1] that lets users define sensitive [2] header `<name, value>` pairs. The default value is `NEVER_SENSITIVE`:

https://github.com/netty/netty/blob/14607979f6db074247d764cc4583461bcd298719/codec-http2/src/main/java/io/netty/handler/codec/http2/AbstractHttp2ConnectionHandlerBuilder.java#L79

It means that netty will try to store all header entries in the dynamic table if they fit. However, RFC7541 Section 7.1.3 [2] says:

> An encoder might also choose not to index values for header fields
that are considered to be highly valuable or sensitive to recovery,
such as the Cookie or Authorization header fields.

Because those values will be indexed by the target server and all intermediate proxies, it's recommended not to index sensitive headers, to prevent them being stored on machines you may not control or machines that could be compromised/attacked. Sounds like a reasonable compromise between performance and default security settings if we will follow this recommendation and mark all `Authorization`, `Cookie`, `Set-Cookie` headers as sensitive by default.

WDYT @normanmaurer @ejona86?

[1] https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/Http2HeadersEncoder.java
[2] https://tools.ietf.org/html/rfc7541#section-7.1.3

Of the headers to index, `Authorization` and `Cookie` are by far the most important to index, as far as gains from the compression. `Set-Cookie` could avoid the dynamic table, but just because it is unlikely to be reused later. If the RFC didn't expect encoders to encode `Cookie` then it wouldn't have special-cased the header field in [HTTP/2](https://tools.ietf.org/html/rfc7540#section-8.1.2.5).

Instead, I think the quote is best read starting with the discussion in [§7.1.1](https://tools.ietf.org/html/rfc7541#section-7.1.1), that if there is low entropy in the Cookie/Authorization header you may need to be more creative with mitigations. Even when reading starting at the immediately preceding paragraph it is clear this isn't a "recommendation."

@ejona86 Sounds reasonable, thank you for the feedback.
I think we will leave sensitivity setting for `Set-Cookie` up to the users' decision.

The "sensitive" concept exposed here is somewhat overloaded and in practice is the only way to avoid indexing a header "don't index this header" (we currently don't expose [Literal Header Field without Indexing](https://tools.ietf.org/html/rfc7541#section-6.2.2) IIRC). This maybe useful for security reasons (e.g. what the spec refers to as sensitive headers) but also for header values that frequently change (e.g. `Date`, `Content-Length` (maybe), etc...) or are unlikely to be repeated and may otherwise result in dynamic table evictions.

Some followup questions:
1. does it make sense to add control over indexing approach ([`NONE` vs `NEVER`](https://github.com/netty/netty/blob/4.1/codec-http2/src/main/java/io/netty/handler/codec/http2/HpackUtil.java#L69-L73)).
2. does it make sense to change the default approach to avoid adding to the dynamic table when values are "likely" to change? The "likely" is context sensitive and will need to balance against header name comparison vs cost to encode/evict from dynamic table. It maybe better to punt to higher layers that understand how headers are used more. However my hunch is most folks won't know to look for the current mechanism and understanding requires some knowledge about hpack.