[Netty 5] HTTP Cookies 

We should investigate a few changes to the `Cookies` API: 

* Support Cookies with the same name as described in RFC-6265 (section 4.2.2) 
* Investigate support of the SameSite attribute ( https://tools.ietf.org/html/draft-west-first-party-cookies-07 )


I can help with those :)

You are the king of cookies, @slandelle :-)

Hi all, the `sameSite` attribute is now available and handled by most of the browsers and we start to see security scanners looking up for the attribute on code bases. IMHO I think this feature should be re-prioritized to the 4.1.x series and should not wait for the 5.x series (unless the 5.x is nearby).

Is there a way I could help on adding the attribute to 4.1 or you guys believe /(have strong reasons) why the community should wait?

Reference:
https://www.owasp.org/index.php/SameSite

The problem is API and binary compatibility. As long as Netty uses strict SEMVER, this can only go in Netty 5.

FYI: Google Chrome [announced](https://www.chromestatus.com/feature/5088147346030592) changes in the default behavior: cookies without explicitly specified SameSite attribute will be treated by default as SameSite=Lax instead of SameSite=None. So far it looks like it won't be enabled earlier than the end of this year, but it makes the need for the new feature more urgent, since many of the existing solutions that have cookies that need to be available in a third-party context would break.

@slandelle Chrome is now rolling out the change to cookies with regards to SameSite changing from defaulting to `None` to defaulting to `Lax`. I can understand cookies of the same name potentially being backwards incompatible, but how is parsing the cookie structure to include SameSite or not backwards incompatible? The changes to the encoder/decoder seem like they should be minimal to have an additional property. My current solution is going to be similar to @pmlopes which is just to append my own `SameSite=None` string to the end of the cookie.

@tlunter see #10050