HPACK dynamic table size update must happen at the beginning of the header block

### Expected behavior

HPACK decoder accepts dynamic table size update at the beginning of the block.

Cf RFC 7531, section 4.2

### Actual behavior

HPACK decoder tolerates dynamic table size update anywhere in the block

`io.netty.handler.codec.http2.HpackDecoder` can be modified to only allow setDynamicTableSize to be called only if that is the first of the block processing and fail otherwise with a connection error like it does already.

### Steps to reproduce

Send an HTTP/2 header frame with a dynamic table size update anywhere, e.g at the end of the stream

### Minimal yet complete reproducer code (or URL to code)

N/A

### Netty version

4.1.84.Final

### JVM version (e.g. `java -version`)

N/A

### OS version (e.g. `uname -a`)

N/A

I can contribute a fix for this.