CookieEncoder and CookieDateFormat set Expires with invalid 2-digit year

http://tools.ietf.org/html/rfc2616#section-3.3.1

   HTTP applications have historically allowed three different formats
   for the representation of date/time stamps:

```
  Sun, 06 Nov 1994 08:49:37 GMT  ; RFC 822, updated by RFC 1123
  Sunday, 06-Nov-94 08:49:37 GMT ; RFC 850, obsoleted by RFC 1036
  Sun Nov  6 08:49:37 1994       ; ANSI C's asctime() format
```

   The first format is preferred as an Internet standard and represents
   a fixed-length subset of that defined by RFC 1123

Chrome interprets two digit years as in the past

http://daniel.haxx.se/blog/2010/09/01/testing-2-digit-year-numbers-in-cookies/

This means that any cookies sent with an expires by Netty, some browsers consider them already dead, Chrome being one of them. This is biting me in Play because play uses Netty.

Culprit: 

https://github.com/netty/netty/blob/netty-3.5.1.Final/src/main/java/org/jboss/netty/handler/codec/http/CookieDateFormat.java

A Y2K bug in this day and age?
