"Received a mismatching DNS response" due to case sensitivity/variance

I have observed netty failing to resolve DNS questions when the response varies by case.

According to the RFCs, the names should be compared in a case-insensitive manner, specifically at:
* RFC-1034 Section 3.1 (page 7 & 8)
* RFC-1035 Section 2.3.3 (page 9 & 10)

For your consideration and convenience, I have opened the following PRs with suggested fixes for those branches which appear to be effected:
* main -> WIP
* 4.2 -> WIP
* 4.1 -> WIP

Please feel free to disregard any or all of these pull requests if you would like to address the problem in another way.

Thank you for the value you add to the community.


Just question) What about saving domain name as lowercase in the first place?

> Just question) What about saving domain name as lowercase in the first place?

If we want to respect the RFC, the same section (RFC-1035 @ 2.3.3) says:
> When data enters the domain system, its original case should be preserved whenever possible.

I would agree that if netty and these data structures are strictly the final consumers of the data, then there probably would not be a real issue with violating the spec, but I do seem to recall there being something about a DNS cache in the netty source, and someone might want to use them as a jump-start for their own non-consumer DNS thing, so... maybe we shouldn't?


@Osndok good catch!
