HTTP2 Host -> :authority translation

This is more of a question then an issue. In the HTTP2 codec, I have observed that it's impossible to send the Host header even when explicitly in the Http 1.1 headers. This is always converted to the :authority pseudo header and the Host header is explicitly blacklisted. Per the spec (it's kinda confusing and ambiguous) it seems that Netty is doing the right thing by translating the Host header to :authority since it's directly producing the H2 request and not acting as an intermediary. Since this is considered a SHOULD I wanted to know if it's possible to prevent this behavior and just send the Host header (for some compatibility concerns I have).

> To ensure that the HTTP/1.1 request line can be reproduced accurately, this pseudo-header field MUST be omitted when translating from an HTTP/1.1 request that has a request target in origin or asterisk form (see [RFC7230], Section 5.3). Clients that generate HTTP/2 requests directly SHOULD use the :authority pseudo-header field instead of the Host header field. An intermediary that converts an HTTP/2 request to HTTP/1.1 MUST create a Host header field if one is not present in a request by copying the value of the :authority pseudo-header field.

### Netty version
4.17.Final

### JVM version (e.g. `java -version`)
any

### OS version (e.g. `uname -a`)
any

I don't think its possible to prevent this (and I am even not sure we should allow it). @carl-mastrangelo @mosesn @Scottmitch @ejona86 WDYT ?

It sounds like @shorea is converting from HTTP/1.1 messages to HTTP/2 messages in netty?  I agree that we shouldn't do it.  If you need to convert h1 to h2 in a special way, you can implement your own instead of using the out-of-the-box netty solution.

@shorea what compatibility concerns do you have?

The built-in translation login in Netty should follow:
> this pseudo-header field MUST be omitted when translating from an HTTP/1.1 request that has a request target in origin or asterisk form

And that would override:
> Clients that generate HTTP/2 requests directly SHOULD use the :authority pseudo-header field instead of the Host header field

Because the client here _isn't_ generating a HTTP/2 request directly. Unless there's something special in the Netty API such that we have more information available in the translation code than normal HTTP/1.

That said though, I'm trying to figure out what dangers are involved by copying to :authority. I had thought it was because Host was slightly more permissive, but I'm coming up short:
> If the target URI includes an authority component, then a client MUST send a field-value for Host that is identical to that authority component, excluding any userinfo subcomponent and its "@" delimiter 

> Because the client here *isn't* generating a HTTP/2 request directly.

This is my interpretation as well. In-process translation is still translation.

So what was the outcome here ? sorry I am a bit confused 

@normanmaurer It seems like no changes in the current behavior are necessary.

Ok @rschmitt let me close this one then