No way to choose error code for RST_STREAM when closing Http2MultiplexHandlerStreamChannel

### Expected behavior

If a handler in an Http2MultiplexHandlerStreamChannel pipeline needs to shut down the channel and send a RST_STREAM, I should be able to easily choose the error code sent with the RST_STREAM.

### Actual behavior

Closing an Http2MultiplexHandlerStreamChannel results in a default Http2Error code of CANCEL being sent in a RST_STREAM before shutting down, with no way to choose this.

Getting around this involves one of:
1. Manually creating a RST_STREAM frame with the right error code, sending it, then closing the chan. This lacks the knowledge of the stream state that netty has, unfortunately (e.g., if a RST_STREAM has already been sent)
2. Triggering `.fireExceptionCaught()` on the Http2FrameCodec in the parent connection channel. Will have to hold a reference to the parent channel/context/pipeline/etc, have to craft the right exception, invoke it, etc. Hacky but doable.
3. Pass down (or look up) a reference to the Http2FrameCodec, so the Http2LifecycleManager methods (like `resetStream`, `onError`, `goAway`, etc) can be called on it with the local Http2MultiplexHandlerStreamChannel's handler's context. This feels less awkward then pushing errors back up into the parent pipeline. Plus, `onError` is very handy for exception handling.
4. Ditch Http2MultiplexHandler entirely and go back to the older style of handlers extending Http2ConnectionHandler. A lot of work for this.

### Steps to reproduce

n/a

### Relevant code

https://github.com/netty/netty/blob/57d536c59e434e88c0d8374d6b03671edb02885f/codec-http2/src/main/java/io/netty/handler/codec/http2/AbstractHttp2StreamChannel.java#L684-L688

Note the necessary `.close` function is non-public.

#### Netty version

4.x, not sure about 5

#### JVM version (e.g. `java -version`)

n/a

#### OS version (e.g. `uname -a`)

n/a

## Potential Changes

1. Make `AbstractHttp2StreamChannel#closeWithError` public
2. Extract the `Http2LifecycleManager` implementations from `Http2ConnectionHandler` into something more suitable for reuse. 
3. Make `Http2MultiplexHandlerStreamChannel` implement Http2LifecycleManager?
4. Something else???


## Original Discord thread


KingMob — Today at 12:32 PM
What's the best way to close an HTTP2 multiplexed frame stream to get Netty to send a RST_STREAM for me with a particular error code? (Closing by default seems to send a RST_STREAM with the CANCEL error code, which isn't necessarily what I want.)

`AbstractHttp2StreamChannel.closeWithError` isn't public, or I'd call it directly.

Http2MultiplexHandler has the right logic. Should I hold a reference to the context of the handler before it and call `.fireExceptionCaught()` on it, to trigger the desired processing? That seems convoluted.

(I'm really unclear why AbstractHttp2StreamChannel doesn't seem to have much exception-handling itself.)

I see `Http2LifecycleManager.onError()` is public; should I be calling that? Or better still, maybe `Http2LifecycleManager.resetStream()`? I could hold a reference to the Http2FrameCodec and its context in the children channels, and make use of the Http2LifecycleManager methods that way.


Any guidance appreciated. 🙏

yawkat — Today at 1:16 PM
hm it seems to me like there should be a Http2Channel.close with an error code parameter. but not sure how that should interact with pipeline close.

Rogan — Today at 2:00 PM
close(error) does writeAndFlush(error).addListener(CLOSE);
?

Rogan — Today at 2:08 PM
How does SSLChannel.close() work? That surely also has to write something to the other end, receive confirmation, and only then close the channel, I think.

KingMob — Today at 4:55 PM
@yawkat The pipeline close (and indeed, most .close fns), are all quite generic, so it'd require making an http2-specific pipeline. AbstractHttp2StreamChannel.closeWithError is exactly what I want, but it's not public. There's also close(final ChannelPromise promise, Http2Error error), which isn't public either.

@Rogan Where are you looking at? I don't see an SSLChannel class in either netty 4 or 5.

Rogan — Today at 5:21 PM
Was without reference to code, so more conceptual than anything else. Referring to "the SslHandler" rather than SSLChannel, actually.

violetagg — Today at 5:29 PM
@KingMob well it depends what you want to do. If you have Http2MultiplexHandler, when this handler receives an error event it closes the stream with the proper error.
Do you need somethin like this? Do you need it for a code outside of Netty code base? Isn't fireExceptionCaught a solution for you? 

Rogan — Today at 5:31 PM
From his comment above:

> Http2MultiplexHandler has the right logic. Should I hold a reference to the context of the handler before it and call .fireExceptionCaught() on it, to trigger the desired processing? That seems convoluted.

It means you need to know what Exception maps to which error, requires construction of an Exception instance, etc
If you know the error you want to return, just call closeWithError(error), makes more sense to me

KingMob — Today at 5:47 PM
@violetagg I'm interested in calling this from the multiplexed child streams (Http2MultiplexHandlerStreamChannel), which would be after Http2MultiplexHandler. If I just close the channels, netty uses the CANCEL code, but what if I want a different code?

@Rogan closeWithError isn't public.

Rogan — Today at 5:51 PM
Yes, I understand it is not public.

KingMob — Today at 5:52 PM
> Do you need somethin like this? Do you need it for a code outside of Netty code base?

Yes, this is for Aleph, which is built on Netty. I can live with CANCEL, I'm just surprised it's so hard to do.

Rogan — Today at 5:52 PM
Sounds like a simple solution would be to make it public, but Netty is fairly strongly on the side of not exposing things if they are not required.
It obviously does make changing internals easier

KingMob — Today at 5:55 PM
It just seems like an exception handled locally in a stream channel should be able to choose the error code if it needs to send a RST_STREAM and close
Should I open an issue for this? It feels like there's no non-hacky way to do this with http2 multiplexed child channels

yawkat — Today at 5:58 PM
yes i agree there should be a way to do this on Http2StreamChannel. i'm just not sure on the api given that pipeline close cant have attached information atm. you should make an  issue.

KingMob — Today at 5:59 PM
Thank you for your help everyone

I wonder why you would use any other code... Can you give some details ?

also I think we could just allow people to write the `HttpResetFrame` and just close the channel in this case 

@normanmaurer Thanks for taking the time to read this.

I learned a bit more a couple days ago. I should probably have updated this immediately.

Earlier this week, I explored writing reset frames directly (option 1 in my first comment), and that seems to work. I thought it would cause a problem with stream state, but it appears when the Http2MultiplexCodec gets it, it actually performs all the necessary checks instead of blindly writing out what I send it.

> I wonder why you would use any other code

Well, generally, because I might want to send a different H2 error than CANCEL. If anything should be a default, the RFCs suggest it should be PROTOCOL_ERROR, not CANCEL. CANCEL is fine for just closing a stream channel, I guess, but since it suggests there was _no_ error, it means we can't use `.close` for error conditions on stream channels. (Though there's a bigger discussion about whether 4xx/5xx responses should be used instead of, or in addition to).

More specifically, I needed to send a RST_STREAM because Netty doesn't properly check yet for missing mandatory pseudo-headers (Netty checks the _values_, but not if a request is missing `:method` _entirely_). RFC 9113 § 8.1.1 says that malformed messages like that are PROTOCOL_ERROR, so this all started because I was trying to send that.

FWIW, I still think making `.closeWithError` public is a good solution. That logic could even be extended to conn channels to send GOAWAYs.

I'm comfortable closing this, since I have a working solution. I don't know if it could be handled with better documentation or not. LMK

@KingMob WDYT about https://github.com/netty/netty/pull/13651 ?

So, whenever we want to send a RST_STREAM, we throw a Http2FrameStreamException with the right Http2Error, and let it reach the end of the pipeline? 

And then, if I want/need to send a response first, I can write it out, then throw after? (See https://lists.w3.org/Archives/Public/ietf-http-wg/2023JulSep/0183.html for the discussion I triggered about this. Generally, a lot of people think HTTP responses offer more info and better compatibility than a pure RST_STREAM, so I'm trying to do that when possible.)

If so, it looks good to me. Thanks!

My only question is just semi-related, so feel free to ignore: When I want to (1) send a response, and then (2) send a RST_STREAM, there's a race condition with stream state. The flow control code buffers up the HEADERS/DATA, and if I don't wait for the write future, the RST_STREAM can close the stream before the flow controller flushes. This is fine according to the RFC, but is there a way to force the FlowController to flush so there's no delay, and the RST_STREAM immediately follow the ES DATA frame?

(Side note: why is Http2FrameStreamException so separate from Http2Exception and Http2Exception.StreamException? I can kinda see that Http2FrameStreamException is used for definitely-existing streams, and Http2Exceptions might entail full GOAWAYs/shutdowns, but fwiw, it seems like they should be a bit closer than they are.)