HttpContentCompressor: Skip Compress process when Content-Encoding:identity was set.

The beginEncode method of HttpContentCompressor(io.netty.handler.codec.http.HttpContentCompressor#beginEncode) try to compress the content even if CONTENT_ENCODING header set to 'identity':

```java
protected Result beginEncode(HttpResponse headers, String acceptEncoding) throws Exception {
        String contentEncoding = headers.headers().get(HttpHeaderNames.CONTENT_ENCODING);
        if (contentEncoding != null &&
            !HttpHeaderValues.IDENTITY.equalsIgnoreCase(contentEncoding)) {
            return null;
        }
        ...
   }
```

For my understanding, when Content-Encoding set to 'identity', the server should send content without encoding. see: http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html

@bobwenx can you paste the "sentence" that let you believe what we do is wrong ?

Also @Scottmitch wdyt ?

i used to set the Content-Encoding = 'identity' to skip compressing process. and the io.netty.handler.codec.http.HttpContentDecompressor (pairing with HttpContentCompressor) skip the decompress processing when client set Content-Encoding = 'identity'.

```java
    @Override
    protected EmbeddedChannel newContentDecoder(String contentEncoding) throws Exception {
        if ("gzip".equalsIgnoreCase(contentEncoding) || "x-gzip".equalsIgnoreCase(contentEncoding)) {
            return new EmbeddedChannel(ZlibCodecFactory.newZlibDecoder(ZlibWrapper.GZIP));
        }
        if ("deflate".equalsIgnoreCase(contentEncoding) || "x-deflate".equalsIgnoreCase(contentEncoding)) {
            ZlibWrapper wrapper;
            if (strict) {
                wrapper = ZlibWrapper.ZLIB;
            }   else {
                wrapper = ZlibWrapper.ZLIB_OR_NONE;
            }
            // To be strict, 'deflate' means ZLIB, but some servers were not implemented correctly.
            return new EmbeddedChannel(ZlibCodecFactory.newZlibDecoder(wrapper));
        }

        // 'identity' or unsupported
        return null;
    }
``` 

http://www.w3.org/Protocols/rfc2616/rfc2616-sec3.html

3.5 section says:
```
identity The default (identity) encoding; the use of no transformation whatsoever. 
This content-coding is used only in the Accept- Encoding header, 
and SHOULD NOT be used in the Content-Encoding header(remove identify value from response).
```

Not that this necessarily invalidates what you have posted but FYI that RFC 2616 has been superseded by https://tools.ietf.org/html/rfc7230.

https://tools.ietf.org/html/rfc7231#section-3.1.2.1
> All content-coding values are case-insensitive and ought to be
   registered within the "HTTP Content Coding Registry", as defined in
   Section 8.4.  They are used in the Accept-Encoding (Section 5.3.4)
   and Content-Encoding (Section 3.1.2.2) header fields.

>   The following content-coding values are defined by this
   specification:
      compress (and x-compress): See Section 4.2.1 of [RFC7230].
      deflate: See Section 4.2.2 of [RFC7230].
      gzip (and x-gzip): See Section 4.2.3 of [RFC7230].

https://tools.ietf.org/html/rfc7231#section-3.1.2.2

> Content-Encoding = 1#content-coding

https://tools.ietf.org/html/rfc7231#section-8.4.2

```
   The "HTTP Content Coding Registry" has been updated with the
   registrations below:

   +----------+----------------------------------------+---------------+
   | Name     | Description                            | Reference     |
   +----------+----------------------------------------+---------------+
   | identity | Reserved (synonym for "no encoding" in | Section 5.3.4 |
   |          | Accept-Encoding)                       |               |
   +----------+----------------------------------------+---------------+
```

So I don't see anything that explicitly *prohibits* `identity` from being using in the `Content-Encoding`, but it seems like the `identity` is certainly defined in reference to `Accept-Encoding` and designed to be used with just this header... @normanmaurer - Agree?

This isn't really related with what RFC says.  Note that the role of `HttpContentCompressor` is to 'compress' the content when not compressed yet. Setting `Content-Encoding` to `identity` will make it compress the content, because it's compressable.  If you don't really want compression you'd just better removing the `HttpContentCompressor` from the pipeline?



Setting ```Content-Encoding``` to ```identity``` allowing user to skip encoding process. And yes, i can remove ```HttpContentCompressor``` from pipeline to get around my problem if the means of ```identity``` only make sense for ```HttpContentCompressor```.