HttpConversionUtil.toHttp2Headers converts uri to path header unproperly

Netty version: 4.1.0.Beta6

Context:

When we use HttpConversionUtil.toHttp2Headers, if uri has urlencoded values, they are decoded unproperly in `:path` header. 

I could't find any spec but below in https://httpwg.github.io/specs/rfc7540.html#HttpHeaders

>The :path pseudo-header field includes the path and query parts of the target URI (the path-absolute production and optionally a '?' character followed by the query production (see Sections 3.3 and 3.4 of [RFC3986]). A request in asterisk form includes the value '*' for the :path pseudo-header field.
This pseudo-header field MUST NOT be empty for http or https URIs; http or https URIs that do not contain a path component MUST include a value of '/'. The exception to this rule is an OPTIONS request for an http or https URI that does not include a path component; these MUST include a :path pseudo-header field with a value of '*' (see [RFC7230], Section 5.3.4).

Steps to reproduce:

1. Create HttpMessage:

    ```java
    String uri = "https://www.anydomain.com/path%2B1?q=query%2B1&q2=query%2B2#fragment%2B1";
    FullHttpRequest request = new DefaultFullHttpRequest(HttpVersion.HTTP_1_1, HttpMethod.GET, uri);
    ```

2. convert using `HttpConversionUtil.toHttp2Headers`

    ```java
    Http2Headers http2Headers = HttpConversionUtil.toHttp2Headers(request);
    ```

3. get path by `http2Headers.get(HttpNames.PATH)`

    ```java
    assertThat(http2Headers.get(HttpNames.PATH), is("/path%2B1?q=query%2B1&q2=query%2B2#fragment%2B1");
    //it fails, actual value is "/path+1?q=query+1&q2=query+2#fragment+1"
    ```

Opinion:

change `HttpConversionUtil.toHttp2Path` to use `getRawXXX()`

```java
    private static AsciiString toHttp2Path(URI uri) {
        StringBuilder pathBuilder = new StringBuilder(length(uri.getRawPath()) +
                length(uri.getRawQuery()) + length(uri.getRawFragment()) + 2);
        if (!isNullOrEmpty(uri.getRawPath())) {
            pathBuilder.append(uri.getRawPath());
        }
        if (!isNullOrEmpty(uri.getRawQuery())) {
            pathBuilder.append('?');
            pathBuilder.append(uri.getRawQuery());
        }
        if (!isNullOrEmpty(uri.getRawFragment())) {
            pathBuilder.append('#');
            pathBuilder.append(uri.getRawFragment());
        }
        String path = pathBuilder.toString();
        return path.isEmpty() ? EMPTY_REQUEST_PATH : new AsciiString(path);
    }
```



@Scottmitch @nmittler can you check?

fixed by https://github.com/netty/netty/pull/4245